@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}
// .navbar-light .navbar-brand {
//   font-family: "Oregano", cursive !important;
//   color: red;
//   font-weight: 900;
//   font-size: 2em;
// }
#login-form-container {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}
#vocab-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}